<div class="row home-body">
  <div class="col-sm-2"></div>
  <div class="col-sm-4 avatar">
    <img class="img" src="assets/home.JPG">
  </div>
  <div class="col-sm-6 text">
    <div class="row">
      <p class="title">Education</p>
      <hr align="left" width="15%">
      <p>Bachelor of Computer Science with Software Engineering Stream, Minor in Mathematics</p>
      <p>Carleton University, Ottawa, ON</p>
      <p>Fourth Year Undergraduate, CGPA 10.36 (A-)</p>
      <p>Expected Graduation 2018 December</p>
    </div>
    <div class="row">
      <p class="title">Award</p>
      <hr align="left" width="15%">
      <p>2015 Claude Bissell Scholarship</p>
      <p>2015 Deans’ Honour List</p>
      <p>2016 Claude Bissell Scholarship</p>
      <p>2016 Deans’ Honour List</p>
      <p>2017 nominated Co-op Student</p>
    </div>

  </div>
</div>
