<div class="row">
  <div class="row header">
    <div class="row header-text">Qingyi Yin</div>
    <div class="row sub-header">
      Bachelor of Computer Science
    </div>
  </div>

  <ul class="nav nav-pills nav-justified">
    <li><a data-toggle="pill" (click)="onSelect($event, 'home')" data-target="#tab-1">Home</a></li>
   <!-- <li><a data-toggle="pill" href [routerLink]="['/aboutme']" data-target="#tab-2">About Me</a></li> -->
    <li><a data-toggle="pill" (click)="onSelect($event, 'resume')" data-target="#tab-3">Resume</a></li>
    <li><a data-toggle="pill" (click)="onSelect($event, 'experience')"data-target="#tab-4">Experience</a></li>
    <li><a data-toggle="pill" (click)="onSelect($event, 'project')" data-target="#tab-5">Project</a></li>
    <li><a data-toggle="pill" (click)="onSelect($event, 'contact')" data-target="#tab-6">Contact</a></li>
  </ul>
  <router-outlet></router-outlet>
  
  <div class="row page-footer">
    <div class="col-sm-12 footer-copyright">
        © 2018 Copyright: Qingyi Yin
    </div>
</div>
</div>




