<div class="row contact-body">
  <div class="col-sm-6">
    <img class="img pull-right" src="assets/contact.gif">
  </div>
  <div class="col-sm-6 text">
    <p>E-mail: <a href="qingyiyin@cmail.carleton.ca">qingyiyin@cmail.carleton.ca</a></p>
    <p>LinkedIn: <a href="http://www.linkedin.com/in/qingyi-yin-katie">http://www.linkedin.com/in/qingyi-yin-katie</a></p>
    <p>GitHub: <a href="https://github.com/katieyin">https://github.com/katieyin</a></p>
    <p>Phone: 6138908698</p>
  </div>
</div>

