<div class="row project-body">
  <div class="col-sm-6 container">
    <img src="assets/project.jpg"  class="image" align="right">
    <div class="middle" style="left: 65%;">
      <div class="text">
        <a class="title" href="https://github.com/Katieyin/weather-prediction">
          Weather Prediction
        </a>
        <hr align="left" width="40%">
        Techniques: Python, Apixu Api
      </div>
    </div>
  </div>

  <div class="col-sm-6 container">
    <img src="assets/project.jpg"  class="image" align="left">
    <div class="middle" style="right: 25%;">
      <div class="text">
        <a class="title" href="https://github.com/Katieyin/Three-part-system">
          Client-Intermediate-Server
        </a>
        <hr align="left" width="40%">
        Techniques: Java, UDP/IP
      </div>
    </div>
  </div>
</div>
