<div class="row resume-body" >
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 pull-left skill">
      <p class="title">Technical Skills</p>
      <hr align="left" width="20%">
      <p>Proficient in python Django framework and angular cli</p>
      <p>Experience in several computer languages including python</p>
      <p>Learned basic JavaScript, HTML, CSS, database query language to develop the skill of
          computer science fundamentals of the technologies underlying web applications</p>
      <p>Implemented a microservice inside the main server to get the weather forecast with python language</p>
      <p>Established a 22-page dashboard by using Power BI (Microsoft Business Intelligence)</p>
      <p>Designed both frontend and backend tests using typescript and python</p>
      <p>Experienced coding under Linux, Windows and IOS system, familiar with using different systems, and proficient in Mac OS X system</p>
    </div>
    <div class="col-sm-5 technical">
      <img class="img" src="../../../assets/helloworld.png">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 communication">
      <img class="img" src="../../../assets/communication.jpeg">
    </div>
    <div class="col-sm-4 skill">
      <p class="title">Communication Skills</p>
      <hr align="left" width="20%">
      <p>Collaborated with a group in order to design an operating system project,
        successfully presented the project to the class</p>
      <p>Held tutorials and office hours to help students,
        answered the questions that they asked,
        greatly promoting students to master the course</p>
      <p>Fluent in English, Mandarin, and Cantonese in reading, writing, and oral</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 pull-left skill">
      <p class="title">Analytical Skills</p>
      <hr align="left" width="20%">
      <p>Evaluated various projects and material about an operating system,
        increased the ability to design and evaluate a project</p>
      <p>Solved different kinds of discrete mathematics and discrete structures problems, fully
        comprehended the propositional logic, complexity of algorithms and graph theory etc</p>
    </div>
    <div class="col-sm-5 technical">
      <img class="img" src="../../../assets/analytical.jpg">
    </div>
  </div>
</div>
